src/main/resources/META-INF/touna.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema 
	xmlns="http://credit.touna.cn/schema/touna"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:tool="http://www.springframework.org/schema/tool"
	targetNamespace="http://credit.touna.cn/schema/touna"
	elementFormDefault="qualified"   
    attributeFormDefault="unqualified">
	
	<xsd:import namespace="http://www.w3.org/XML/1998/namespace"/>
	<xsd:import namespace="http://www.springframework.org/schema/beans"/>
	<xsd:import namespace="http://www.springframework.org/schema/tool"/>
	
	
	<xsd:element name="apply">  
        <xsd:complexType>  
                    <xsd:attribute name="id" type="xsd:string" /> 
                    <xsd:attribute name="siteCode" type="xsd:string" />  
                    <xsd:attribute name="productCode" type="xsd:string" />  
                    <xsd:attribute name="loanWay" type="xsd:string" />  
                    <xsd:attribute name="repayment" type="xsd:string" />  
        </xsd:complexType>  
    </xsd:element> 	

	<xsd:element name="customer">
		<xsd:complexType>  
                    <xsd:attribute name="id" type="xsd:string" /> 
                    <xsd:attribute name="name" type="xsd:string" />  
                    <xsd:attribute name="idCardNo" type="xsd:string" />  
                    <xsd:attribute name="gender" type="xsd:string" />  
                    <xsd:attribute name="nation" type="xsd:string" />  
                    <xsd:attribute name="address" type="xsd:string" />  
        </xsd:complexType>
	</xsd:element>

</xsd:schema>